.image{
    content: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ftimesofindia.indiatimes.com%2Ftravel%2Fdestinations%2Fmountains-that-still-remain-unconquered%2Fas64559696.cms&psig=AOvVaw2A6gigCAXG0wSypcIN0bty&ust=1609061177227000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCiq5Gq6-0CFQAAAAAdAAAAABAD)
}