.h-card{
    margin:20px;
}

.h-card-image{
    border-radius: 10px;
    width: 300px;
    height: 480px;
    box-shadow: 0px 0px 3px 1px #cccccc;
}

.h-card-info{
    margin-top:10px;
    min-height:100px;
}

.h-card-title{
    font-size:24px;
    margin:0px;
}

.h-card-subtitle{
    font-size:16px;
    margin:0px;
}